// Colors
$main-color: rgb(233, 8, 8);
$accent-color: rgb(243, 66, 12);
$light-accent-color: lighten($main-color,50%);
$shade-color: rgb(230, 230, 230);
// Spacing
$logo-size: 1.6rem;
$all-cap-size: 0.9rem;
$huge-size: 4.6rem;
$kindahuge-size: 2rem;
$title-size: 1.7rem;
$subtitle-size: 1.5rem;
$minititle-size: 1.2rem;
$normal-size: 1rem;
$small-size: 0.8rem;