.cart-title {
  font-size: $subtitle-size;
  color: $main-color;
  font-family: Satisfy;
}
.cart-table-container {
  height: 50px;
}
.cart-total {
  color: $main-color;
  font-weight: bold;
}
.cart-checkout-section {
  text-align: center;
}