.main-content {
  margin: 10px 10px;
}

@media (max-width:500px) {
  .main-content {
    margin: 0 10px;
  }
}
.grow {
  flex-grow: 1;
}
.centered-alert-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.splash-screen {
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  position: absolute;
}

.custom-divider {
  padding: 10px 0px;
}

.price-container {
  font-size: $minititle-size;
  color: $accent-color;
  font-family: Courgette;
  padding-right: 10px;
}
.price-mini-container {
  font-size: $normal-size;
  color: $accent-color;
  font-family: Courgette;
  padding-right: 10px;
}
.dialog-form-container {
  padding: 5px;
}