.main-content {
  margin: 0 30px;
}

@media (max-width:500px) {
  .main-content {
    margin: 0 10px;
  }
}
.grow {
  flex-grow: 1;
}
.centered-alert-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.splash-screen {
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  position: absolute;
}